modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23017
externalPort = 3001

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
NODE_ENV = "production"
LOG_LEVEL = "info"
MOBILE_MONEY_GATEWAY = "auto_clapay_first"
PAWAPAY_ENV = "production"
PORT = "5000"
VAPID_PUBLIC_KEY = "BPy-4QOhhUbnX3apfyA2LBL8YohvcFVV-av01mEzhI9tzfJBjzXX1Eu5UREKtOnd6W37HGZrOFwmlbYIttLATgc"
VAPID_PRIVATE_KEY = "ZTms399zzZmgctCuW81L9ZYCAG0qFu9DcwJEFh1JVrQ"
VAPID_SUBJECT = "mailto:support@simix.site"
APP_URL = "https://5bff136c-16f2-44a8-882a-5d32f9923330-00-2q0yq614ryai3.picard.replit.dev"

[userenv.production]

[userenv.development]
